:root{
    --fs-39:39px;
    --fs-16:16px;
    --fs-12:12px;
    --fs-10:10px;
    --fs-20:20px;
    --fs-48:48px;
    --fs-25:25px;
    /* ------------colors----------- */
    --bg-color:#fff7f4;
    --dark-grey:#373737;
    --oranange:#ff5300;
    --light-grey:#7b7b7b;
    --black:#000000;
    /* --------------font-family--------------- */
    
}